
@using Online_Quiz_System.Models
@model LoginModel
@{ ViewBag.Title = "Đăng Nhập Hệ Thống Trắc Nghiệm Online";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        @ViewBag.Title
    </title>

    @Scripts.Render("~/bundles/jquery")
    <script src="/Assets/js/materialize.min.js"></script>
</head>

<body class="bg-login">
    <div id="status" class="status"></div>
    <div class="container" style="margin-top:50px;"> 
        <table style="width: 80%; margin: auto">
            <tr>
                <td>  <img src="~/Assets/LandingPage/img/login_1.png" alt="Alternate Text" style="width: 450px; margin-top: -10px"/>  </td>
                <td style="width:60%; margin-left: 0px">
                    <div>
                        <div class="col-md-10 col-md-offset-10">
                            <div class="panel-heading">
                                <h2 class="panel-title" style="padding-bottom: 20px"> Đăng nhập vào tài khoản</h2>
                               
                            </div>
                            <div class="panel-body">
                                @using (Html.BeginForm("Index", "Login", FormMethod.Post))
                                {
                                    if (ViewBag.error != null)
                                    {
                                        <span class="title failed" style="color: red;">@ViewBag.error </span> }

                                    <div class="form-group" style="margin-top:10px">
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @required = "required", @autofocus = "autofocus", @placeholder = "Tên đăng nhập" , @value="nghiadt"})
                                      
                                    </div>
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = "required", @placeholder = "Mật khẩu" })                                 
                                        </div> 
                                    <div class="login-btn" style="margin: 30px 30%">
                                        <button type="submit" class="btn" style="background-color: #17a2b8; border-color: #17a2b8; color: #fff; ">Đăng Nhập &#10159; </button>
                                    </div>
                                    }
                            </div>
                        </div>
                    </div>
                </td>
                @*<td>  <img src="~/Assets/LandingPage/img/anh_dang_nhap.jpg" alt="Alternate Text" style="width: 400px; margin-top: -10px"/>  </td>*@
                
            </tr>
        </table>


    </div>
  

</body>

</html>


