@using Online_Quiz_System.Common

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
       The Champions
    </title>

  
   
    @* Landing Page *@
    <link href="Assets/LandingPage/img/favicon.ico" rel="icon" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Nunito&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="~/Assets/LandingPage/lib/flaticon/font/flaticon.css" rel="stylesheet" />
    <link href="~/Assets/LandingPage/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Assets/LandingPage/lib/lightbox/css/lightbox.min.css" rel="stylesheet" />
    <link href="~/Assets/LandingPage/css/style.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Assets/js/materialize.min.js"></script>
</head>

<body class="body-login scrollbar">
    <div class="navbar-fixed">

        <!-- Navbar Start -->
        <div class="container-fluid bg-light position-relative shadow">
            <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0 px-lg-5">
                <a href="/Home/Index" class="navbar-brand font-weight-bold text-secondary" style="font-size: 50px">
                    <i class="flaticon-043-teddy-bear"></i>
                </a>
                <div class="collapse navbar-collapse justify-content-between"
                     id="navbarCollapse">
                    <div class="navbar-nav font-weight-bold mx-auto py-0">
                        <a href="/Home/Index" class="nav-item nav-link active"> Trang chủ</a>
                        <a href="/Home/About" class="nav-item nav-link"> Thông tin </a>
                        <a href="/Home/Index#test" class="nav-item nav-link"> Đề thi </a>
                        <a href="/Home/Index#testLT" class="nav-item nav-link"> Ôn luyện </a>
                        <a href="/Home/LienHe" class="nav-item nav-link"> Liên hệ </a>
                    </div>
                </div>
                <div class="navbar-nav">
                    @{ if (@Session[UserSession.NAME] == null)
                        { <a href="/Login/Index" class="btn btn-primary px-4"> Đăng nhập &#10152;</a> }

                        else
                        {

                            {
                                int role = (int)Session[UserSession.PERMISSION];
                                if (role == 1)
                                {
                                    <a href="/Admin/Index" class="btn btn-dangxuat"> <i class="fa fa-user"></i> Trang quản trị  </a>
                                    <span class="title" style="color: black; margin: 10px 30px">Xin chào: @Session[UserSession.NAME] </span>
                                    <a href="/Admin/Logout" class="btn btn-dangxuat"> <i class="fa fa-power-off"></i>  Đăng Xuất  </a> }
                                    else
                                    if (role == 2)
                                    {
                                        <a href="/Teacher/Index" class="btn btn-dangxuat"> <i class="fa fa-user"></i> Trang giảng dạy  </a>
                                        <span class="title" style="color: black; margin: 10px 30px">Xin chào: @Session[UserSession.NAME] </span>
                                        <a href="/Teacher/Logout" class="btn btn-dangxuat"> <i class="fa fa-power-off"></i>  Đăng Xuất  </a> }
                                    else
                                    if (role == 3)
                                    {
                                        <a href="/Student/Index" class="btn btn-dangxuat"> <i class="fa fa-user"></i> Đề Thi </a>
                                    <span class="title" style="color: black; margin: 10px 30px">Xin chào: @Session[UserSession.NAME] </span>
                                    <a href="/Student/Logout" class="btn btn-dangxuat"> <i class="fa fa-power-off"></i>  Đăng Xuất  </a> }
                                        }
                          } }
                </div>

            </nav>
        </div>
        <!-- Navbar End -->

    </div>

    @RenderBody()

    <!-- Footer Start -->
    <div class="container-fluid bg-secondary text-white mt-5 py-5 px-sm-3 px-md-5">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <a href=""
                   class="navbar-brand font-weight-bold text-primary m-0 mb-4 p-0"
                   style="font-size: 40px; line-height: 40px">
                    <i class="flaticon-043-teddy-bear"></i>
                    <span class="text-white">The Champions</span>
                </a>
                <p>
                   Đẳng cấp làm nên thương hiệu, không thử sao biết mình tới đâu?
                </p>
                <div class="d-flex justify-content-start mt-4">
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                       style="width: 38px; height: 38px"
                       href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                       style="width: 38px; height: 38px"
                       href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                       style="width: 38px; height: 38px"
                       href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-outline-primary rounded-circle text-center mr-2 px-0"
                       style="width: 38px; height: 38px"
                       href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h3 class="text-primary mb-4"> Thông tin </h3>
                <div class="d-flex">
                    <h4 class="fa fa-map-marker-alt text-primary"></h4>
                    <div class="pl-3">
                        <h5 class="text-white">Địa chỉ</h5>
                        <p>140 Lê Trọng Tấn, Tây Thạnh, Tân Phú, TP. Hồ Chí Minh.</p>
                    </div>
                </div>

                <div class="d-flex">
                    <h4 class="fa fa-phone-alt text-primary"></h4>
                    <div class="pl-3">
                        <h5 class="text-white">Số điện thoại</h5>
                        <p> 028 6270 6275 </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h3 class="text-primary mb-4">Truy cập nhanh</h3>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Home</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>About Us</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Classes</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Teachers</a>
                    <a class="text-white mb-2" href="#"><i class="fa fa-angle-right mr-2"></i>Our Blog</a>
                    <a class="text-white" href="#"><i class="fa fa-angle-right mr-2"></i>Contact Us</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h3 class="text-primary mb-4"> Địa chỉ </h3>
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2837.2341379255636!2d106.62625410881847!3d10.806920289299232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752be27ea41e05%3A0xfa77697a39f13ab0!2zMTQwIMSQLiBMw6ogVHLhu41uZyBU4bqlbiwgVMOieSBUaOG6oW5oLCBUw6JuIFBow7osIEjhu5MgQ2jDrSBNaW5oIDcwMDAwMCwgVmnhu4d0IE5hbQ!5e1!3m2!1svi!2s!4v1733369428535!5m2!1svi!2s" 
                       width="350" height="180" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="container-fluid pt-5"
             style="border-top: 1px solid rgba(23, 162, 184, 0.2) ;">
            <p class="m-0 text-center text-white">
                &copy;
                <a class="text-primary font-weight-bold" href="#"> Hệ Thống Thi Trực Tuyến </a>.
                Using ASP.NET - SQL Server
            </p>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-primary p-3 back-to-top">
        <i class="fa fa-angle-double-up"></i>
    </a>

</body>

</html>

